<%- include("./partials/header") %>

<div class="form2">
	<form action="/rent-cars/<%= car._id %>?_method=PUT" method="POST">
		<div class="form-group">
			<label for="name">name</label>
			<input class="form-control" id="name" type="text" name="Car[name]" value="<%= car.name %>">
		</div>
		<div class="form-group">
			<label for="image">image url</label>
			<input class="form-control" id="image" type="text" name="Car[image]" value="<%= car.image %>">
		</div>
		<div class="form-group">
			<label for="year">year</label>
			<input class="form-control" id="year" type="text" name="Car[year]" value="<%= car.year %>">
		</div>
		<div class="form-group">
			<label for="color">color</label>
			<input class="form-control" id="color" type="text" name="Car[color]" value="<%= car.color %>">
		</div>
		<div class="form-group">
			<label for="type">control type</label>
			<input class="form-control" id="type" type="text" name="Car[type]" value="<%= car.type %>">
		</div>
		<div class="form-group">
			<label for="price">price</label>
			<input class="form-control" id="price" type="text" name="Car[price]" value="<%= car.price %>">
		</div>
		<div class="form-group">
			<label for="rent?">for rent?</label>
			<input class="form-control" id="rent?" type="text" name="Car[car_for_rent]" value="<%= car.car_for_rent %>">
		</div>
		<div class="form-group">
			<label for="erntType">rent type</label>
			<input class="form-control" id="rentType" type="text" name="Car[rentType]" value="<%= car.rentType %>">
		</div>
		<button class="btn btn-primary">Update Car</button>
	</form>
	<a class="float-right" href="/rent-cars/<%= car.rentType %>">Go Back</a>

</div>

<%- include("./partials/footer") %>