<%- include("./partials/header"); %>

<div class="container">
		
		<h1 style="text-align:center">Add New Comment to <%= car.name %></h1>
<div style="width:400px; margin:20px auto">
			<form action="/cars/<%= car._id %>/comment/<%=comment._id%>?_method=PUT" method="POST">
				<div class="form-group">
				 <input class="form-control" type="text" name="comment[text]" value="<%=comment.text%>">	 
				</div>
				
				
      <button class="btn  btn-primary btn-block">Edit</button>	
</form>
	<a href="/cars/<%= car._id %>">Go Back</a>

		</div>
	
</div>


<%- include("./partials/footer"); %>
