<%- include("./partials/header") %>

<% var counter=0; %>
<div class="installment ml-5 mt-5 pt-5 pr-5">
<h1>Installment</h1>
<div class="jumbotron">
  <select class="custom-select mb-2 car-select">
  <option selected value="0">Open this select menu</option>
   <% car.forEach(function(car){ %>
	  <% counter+=1; %>
	    <option id="car<%= counter %>" value="<%= car.price %>"><%= car.name %></option>
	 <% }); %>	  
</select>
	
<select class="custom-select mb-2 first-payment">
  <option selected value="1">first payment</option>
  <option value="30%">30%</option>
  <option value="40%">40%</option>
  <option value="50%">50%</option>
</select>
	
<select class="custom-select mb-2 monthly-Payment">
  <option selected value="1">number of month</option>
  <option value="36">36 month</option>
  <option value="48">48 month</option>
  <option value="60">60 month</option>
</select>
	
<div class="displayBlock">
<p>First Payment: <span id="firstPayment"></span></p>
<p>Monthly Payment:<span id="monthlyPayment"></span></p>
<button class="btn btn-outline-primary">Purchase</button>
</div>
</div>
	
	
</div>


</div>



	<script type="text/javascript"src="/javascript/main.js"></script>
<%- include("./partials/footer") %>